@model IEnumerable<StarForceMIS.Web.Models.DayOffViewModel>

@{
    ViewBag.Title = "DayOffSchedule";
}
<br />
<h2>
    @DateTime.UtcNow.ToString("MMMM"), @DateTime.UtcNow.Year Day Off Calendar
</h2>

<div class="container">
    <div class="row">
        <div class=" col-md-2 col-md-offset-10">
            <a href="@Url.Action("ScheduleDayOff","SGManagement")" class="btn btn-success">Set Day off</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Off Duty Guard</th>
                        <th>Reliever</th>
                        <td>Day off date</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DayOffGuard.FirstName @item.DayOffGuard.LastName</td>
                            <td>@item.RelieverGuard.FirstName @item.RelieverGuard.LastName</td>
                            <td>@item.ScheduledDayOff.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>
