@model StarForceMIS.Web.Models.ScheduleViewModel

@{
    ViewBag.Title = "Schedule";
}

<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user">&nbsp;</span>
                    Search Guard
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    @using (Html.BeginForm("SearchSchedule", "SGManagement", FormMethod.Get, new { @class = "", @id = "searchGuardForm" }))
                    {
                        <div class="row">
                            <div class="row">
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.QueryString, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search guard here...." } })
                                </div>
                                <input type="submit" value="Search" class="btn btn-primary col-md-3" />
                            </div>
                            @Html.ValidationMessageFor(model => model.QueryString, "", new { @class = "text-danger" })
                        </div>

                    }
                    <div class="guardDetailsResult">
                        @Html.Partial("partial/_GuardListSchedule", Model.GuardDetails)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
                    Guard Schedules
                </h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("RetrieveSchedule", "SGManagement", FormMethod.Get, new { @class = "col-md-12" , @id = "searchSchedule" }))
                {
                    <div class="row">
                        @Html.LabelFor(model => model.ScheduleID, htmlAttributes: new { @class = "control-label" })
                        <div class="row">
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.ScheduleID, new SelectList(Model.ScheduleLookUp, "ID", "Title", Model.ScheduleID), new { @class = "form-control", @name = "scheduleID", @id = "scheduleID", @type = "submit" })
                            </div>
                            <div class="col-md-3">
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.QueryString, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <hr />
                        <div class="schedules">
                            @Html.Partial("partial/_GuardSchedules", Model.Schedules)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/SGManagement/Schedule.js"></script>
}